%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class*="icon-"] {
	&:before {
		@extend %ic;
		display: block;
	}
}

.icon-phone:before {
	content: "\e90c";
  }
  .icon-instagram:before {
	content: "\e90d";
  }
  .icon-telegram:before {
	content: "\e90e";
  }
  .icon-mail:before {
	content: "\e906";
  }
  .icon-heart:before {
	content: "\e900";
  }
  .icon-arrow-left:before {
	content: "\e901";
  }
  .icon-arrow-right:before {
	content: "\e902";
  }
  .icon-location:before {
	content: "\e903";
  }
  .icon-arrow-bottom:before {
	content: "\e904";
  }
  .icon-card:before {
	content: "\e905";
  }
  .icon-google:before {
	content: "\e907";
  }
  .icon-logo:before {
	content: "\e908";
  }
  .icon-menu:before {
	content: "\e909";
  }
  .icon-PayPal:before {
	content: "\e90a";
  }
  .icon-play:before {
	content: "\e90b";
  }
  